/*  box -> 한개 박스. 옆에 아무것도 못옴 / inline-box : 한줄 박스 / inline - 한줄 element. width, display 안먹힘*/

.father {
  display: flex;
  justify-content: space-around; /*flex box 조정 center면 중앙에 배치되는 식. main-axis에 종속*/
  /*align-items: stretch;  cross-axis에 종속 디폴트는 flex start*/
  height: 100vh; /* height가 없으면 align~~ 들이 작동을 안함. 왜냐면 높이가 박스크기에 맞춰져서...+*/
}
/* flex container 사용법 - div 를 감싸는 display : flex */
/* flex -direction : flex 내부 박스들의 정렬. 기본은 row(가로) */
/* main axis -> flex -direction 가 row일 때 가로 . cross-axis는 세로*/

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}

/*align self 는 align-items랑 비슷한 거지만(cross-axis), 하나에만 영향을 미침*/
/*order : 순서 조정. html을 못건드릴 경우 사용할수 있다 기본은 0. 앞뒤의 order와 비교해서 순서를 맞춘다*/
/* child 에 줄 수 있는건 이 두개 */
.child:nth-child(1) {
  order: 2;
}
.child:nth-child(2) {
  align-self: center;
  order: 3;
}

.child:nth-child(3) {
  align-self: flex-end;
  order: 0;
}
